.root {
  margin-bottom: 30px;

  .name {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color: #131517;
    opacity: 0.6;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: flex;
  }
}
